#table_container{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;

}
#main-text{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

#btn-container{
    margin-bottom: 5%;

}